<ng-container *ngIf="roomExtended$ | async as room">
    <p-card>
        <app-room-header [room]="room"></app-room-header>
        <app-room-details  [room]="room"></app-room-details>
        <app-room-photo [photos]="room.photos"></app-room-photo>

<div class="grid grid-cols-3 gap-4">
  <!-- Первая часть, занимает две колонки -->
  <div class="col-span-2">
    <div class="">
      <!-- Данные, которые прокручиваются -->
      <p>Содержимое первой части...</p>
      <p>Еще данные...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
      <p>И еще...</p>
    </div>
  </div>

  <!-- Вторая часть, фиксированный блок -->
  <div class="col-span-1">
    <div class="sticky top-0 bg-gray-800 p-4">
      <!-- Фиксированный блок -->
      <p>Фиксированный блок данных</p>
    </div>
  </div>
</div>


    </p-card>
</ng-container>
