<google-map class="google-map" [options]="options" *ngIf="apiLoaded$ | async" (gmpClick)="onMapClick()">
  <map-advanced-marker
    #markerElem="mapAdvancedMarker"
    *ngFor="let marker of markers"
    [position]="{lat: marker.position.lat, lng: marker.position.lng}"
    [content]="marker?.content || null"
    (gmpClick)="onMarkerClick(marker, markerElem)"
  ></map-advanced-marker>
  <map-info-window (closeclick)="onInfoWindowClosed()">
    <ng-content></ng-content>
  </map-info-window>
</google-map> 



