:host {
  --p-galleria-border-width: 0px;
  --p-galleria-border-radius: 0px;

}
:host ::ng-deep  {

  .gm-style {
    @apply p-6;
  }

  .gm-style-iw-c {
    @apply font-light rounded-[20px] p-0;
  }

  .gm-style-iw-d {
    @apply p-0 !overflow-auto;
  }

  .gm-style-iw-chr {
    height: 18px !important;
  }

  /* button close */
  .gm-ui-hover-effect {
    @apply rounded-full !p-[2px] !border-0 !bg-black opacity-40 hover:opacity-100 top-[10px] right-[10px] z-10 !w-[24px] !h-[24px] !absolute;
  }  

  .gm-ui-hover-effect span {
    @apply z-10 !w-[20px] !h-[20px] !m-0 !text-white bg-white ;
  }

  /* header row */
  .gm-style-iw-chr {
    @apply z-10 !h-0;
  }
} 

.google-map {
  display: block;
  height: 100%;

  ::ng-deep .map-container {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    width: 100% !important;
  }
}


/* HTML marker styles */
::ng-deep .price-tag {
  @apply bg-white text-gray-600 border border-solid rounded-full shadow-md text-xl font-bold px-2;

  &:hover {
    @apply scale-110;
  }

  &.selected {
    @apply bg-gray-900 border-0 text-white;
  }

}


