<div *ngIf="bookingVariant() as bookingVariant" class="mb-3">
  <p-card>
    <div class="grid grid-cols-[minmax(130px,210px),1fr] grid-rows-3 gap-4 ">
      <div class="row-span-3">
        <div>
          <p-galleria
            [value]="bookingVariant | bookingVariantImages"
            [circular]="true"
            [showItemNavigators]="true"
            [showThumbnails]="false"
            [containerStyle]="{ 'max-width': '210px', 'min-width': '130px' }"
          >
            <ng-template #item let-item>
              <img [src]="item" style="width: 100%; display: block" />
            </ng-template>
          </p-galleria>
        </div>
      </div>
      <div class="row-span-2">
        <div class="tt text-xl font-bold mb-3">{{ bookingVariant.name }}</div>
        <div>{{ bookingVariant.address }}</div>
        <div>
          <strong>
          {{ (bookingVariant.firstRoom?.price ?? 0)* 5 | currency: 'USD':'symbol':'1.0-0' }}
          </strong>
          for 5 nights
        </div>
      </div>
      <div class="justify-self-end h-6 border-2 border-gray-400">
        <p-button
          label="More"
          severity="secondary"
          [routerLink]="NavigationPath.RoomPage | navPath: { id: bookingVariant.firstRoom?.id }"
        />
      </div>
    </div>
  </p-card>
</div>
