<div class="grid grid-cols-3 gap-4">
  <div class="col-span-2">

    <div class="flex flex-col gap-8">
      <div>
        <app-room-person [room]="room()">
            <app-room-props [room]="room()"></app-room-props>
        </app-room-person>
      </div>
      <p-divider />
      <div>
        <app-room-features></app-room-features>
      </div>
      <p-divider />
      <app-room-description [room]="room()"></app-room-description>
    </div>
      
  </div>

  <div class="col-span-1">
    <div class="sticky top-0 bg-gray-800 p-4">
      <div class="price">
        <span class="text-2xl font-bold">$365</span><!--{{ room.price | currency: 'USD' }}</span> -->
        <span class="text-sm">/night</span>
        </div>
        <div>DataPicker - CheckIn/CheckOut</div>
        <div>Reserve - button</div>
    </div>
  </div>
</div>