<ng-container 
  *ngIf="isMobileScreen(); then tplMobile; else tplDesktop"
  ></ng-container>

<ng-template #tplDesktop>
<div class="grid grid-cols-[minmax(300px,_1fr)_minmax(0,_370px)] gap-4">
  <ng-container *ngTemplateOutlet="tplInfo"></ng-container>     
  <div>
    <app-room-booking-card [room]="room()" [isMobileScreen]="isMobileScreen()"></app-room-booking-card>
  </div>
</div>
</ng-template>

<ng-template #tplMobile>
<div class="relative">
  <ng-container *ngTemplateOutlet="tplInfo"></ng-container>
  <div class="sticky bottom-2 w-full">
    <app-room-booking-card [room]="room()" [isMobileScreen]="isMobileScreen()"></app-room-booking-card>
  </div>
</div>
</ng-template>

<ng-template #tplInfo>
  <div class="flex flex-col gap-8">
    <app-room-person [room]="room()">
        <app-room-props [room]="room()"></app-room-props>
    </app-room-person>
    <p-divider />
    <app-room-features></app-room-features>
    <p-divider />
    <app-room-description [room]="room()"></app-room-description>
  </div> 
</ng-template>